<!-- need to work on this : col col-lg-4 col-md-12 mb-4 -->
<!-- "col-lg-4 col-md-6 col-sm-12 mb-5"  -->
<!-- row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-5 -->



<div class="col-lg-4 col-md-6 col-sm-12 mb-5">


    <div class="card h-100">

      <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
        <img class="w-100" src="{{ post.image }}" alt="{{ post.title }}">
        <div class="mask">
          <div class="d-flex justify-content-start align-items-end h-100">
            <h5>
              {% if post.new_product %}
              <span class="badge bg-primary ms-2">New</span>
              {% endif %}

              {% if post.new_product %}
              <span class="badge bg-danger ms-2">{{post.offer}}</span>
              {% endif %}

            </h5>
          </div>
        </div>
        <div class="hover-overlay">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title mb-3">{{ post.title }}</h5>

        {% if post.tags.size >= 1 %}
        <div class="article-tags__box d-flex flex-wrap justify-content-center">
          {% for tag in post.tags %}
          <!-- <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="article__tag">{{ tag }}</a> -->
          <p class="article__tag">{{ tag }}</p>
          {% endfor %}
        </div>
        {% endif %}

        {% if post.price_offer %}
        <h6 class="mb-3">
          <s>{{ post.price }}</s><strong class="ms-2 text-danger">{{post.price_offer}} CFA</strong>
        </h6>
        {% else %}
        <h6 class="mb-3">
          {% if post.price %}{{ post.price }} CFA {% else %} - CFA {% endif %}
        </h6>
        {% endif %}
      </div>

    </div>


</div>